/* You can add global styles to this file, and also import other style files */
@import '..\node_modules\bootstrap\dist\css\bootstrap.css';
h2{
    text-align: center;
    margin-top: 15px;
    color: lightcoral;
}
h1{
    text-align: center;
}
.forms{
    width: 500px;
    margin: 30px 165px;
    align-content: center;
    box-shadow:2px 5px 5px 2px linen;
}
.btn-success{
    margin: 30px ;
}
.form-control{
    width:250px;
}
.form-group{
    padding: 15px 0  0 25px;
}

