<div style="text-align: center">
<h1>Get your Account Details</h1>
<h3>Enter your Customer Id:</h3>
<input #id type="number" name="id">
<button class="btn btn-info btn-sm" type="submit" (click)="getCustomer(id.value)">Get Customer Details</button>
<br>

<div [style.display]="customer.id ? 'block': 'none'">
<h1 >Details of Customer with id {{customer.id}}</h1>
<h3 >FirstName: {{customer.firstName}}</h3>
<h3 >LastName: {{customer.lastName}}</h3>
<h3 >Email Id: {{customer.email}}</h3>
<h3 >Mobile Number: {{customer.mobile}}</h3>
</div>
</div>