
<h1>Welcome to Customer Application</h1>

<button type="button" class="btn btn-info" routerLink="/getCustomers">Get Customers</button>
<button type="button" class="btn btn-success" routerLink="/addCustomer">Add Customer</button>

<button type="button" class="btn btn-danger btn-sm" routerLink="/deleteCustomer"  >Delete Customer</button>
<button type="button" class="btn btn-info btn-sm"  routerLink="/getCustomer">Get Customer by Id</button>
<button type="button" class="btn btn-info"  routerLink="/getCustomerByFirstName">Get Customers by firstName</button>
<button type="button" class="btn btn-info"  routerLink="/getCustomerByLastName4">Get Customers by lastName</button>



<router-outlet></router-outlet>





